<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pokemons Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">favorites</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button routerLink="/home">
    Inicial
    <ion-icon name="home">
    </ion-icon>
  </ion-button>
    <ion-list>
      <ion-item *ngFor="let pokemon of favorites">
        <ion-thumbnail slot="start">
          <img [src]="pokemon.image" alt="Imagem de {{ pokemon.name }}">
        </ion-thumbnail>
        <ion-label [routerLink]="pokemon.id">
          <h2>{{ pokemon.name }}</h2>
          <p>#{{ pokemon.id }}</p>
          <p>{{ pokemon.types.join(', ') }}</p>
        </ion-label>
        <ion-button slot="end" color="danger" (click)="removeFavorite(pokemon)">
          Remover
        </ion-button>
      </ion-item>
    </ion-list>
</ion-content>
